@use './_mixin.scss';

.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: var(--body-padding);

    .sideBar {
        position: fixed;
        top: var(--body-padding);
        left: var(--body-padding);
        width: var(--sidebar);
        height: calc(100vh - (2* var(--body-padding)));
        border: 1px solid var(--black);
        padding: 1rem;
        overflow: hidden;
        overflow-y: scroll;
        background-color: var(--white);
        @include customScrollbar;


    }

    .main-container {
        height: calc(100vh - (2* var(--body-padding)));
        overflow-y: scroll;
        width: calc(100vw - var(--sidebar) - calc(3 * var(--body-padding)));
        margin-inline-start: calc(var(--sidebar) + var(--body-padding));
        background-color: var(--gray);
        @include customScrollbar;




    }
}